@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 599px) {
  body.nav-open .header__nav {
    right: 0;
  }
  body.nav-open .header__nav ul li {
    display: block;
  }
  body.nav-open .header__nav ul li a {
    color: #333;
  }
  body.nav-open .header .black-bg {
    opacity: .8;
    visibility: visible;
  }
  body.nav-open .header .hamburger {
    position: fixed;
    top: 40px;
    height: 25px;
  }
  body.nav-open .header .hamburger__line {
    background-color: #333;
  }
  body.nav-open .header .hamburger__line--top {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }
  body.nav-open .header .hamburger__line--bottom {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 11px;
    width: 25px;
  }
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
}

.header {
  margin-bottom: 50px;
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
}

.header__logo {
  padding: 25px 0 0 25px;
}

.header__logo img {
  width: 100px;
  height: auto;
}

.header__nav {
  margin-left: auto;
  padding: 25px 25px 0 0;
}

.header__nav ul li {
  display: inline-block;
  padding: 17px 0 0 25px;
}

.header__nav ul li a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.header__nav ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__nav ul li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media (max-width: 599px) {
  .header__nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 60px;
    background-color: #fff;
    -webkit-transition: all .8s;
    transition: all .8s;
    z-index: 200;
    overflow-y: auto;
  }
}

@media (max-width: 599px) {
  .header .hamburger {
    position: absolute;
    right: 25px;
    top: 40px;
    width: 25px;
    height: 11px;
    cursor: pointer;
    z-index: 300;
  }
  .header .hamburger__line {
    position: absolute;
    right: 0;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .header .hamburger__line--top {
    top: 0;
  }
  .header .hamburger__line--bottom {
    width: 17px;
    top: 11px;
  }
  .header .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s;
    transition: all .6s;
    cursor: pointer;
  }
}

.main {
  margin: 0 auto;
  max-width: 1024px;
}

.tp-title {
  margin-bottom: 12.5px;
  font-size: 25px;
  color: #555;
}

.main-category {
  margin-left: 25px;
  margin-right: 25px;
  width: calc( 100% - 25px * 2);
}

.main-category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-category__wrap a {
  display: block;
  height: 100px;
  border-radius: 5px;
}

.main-category__wrap a.two-column {
  width: calc(50% - 25px / 2);
}

.main-category__wrap a.two-column:first-child {
  margin-right: 25px;
}

.main-category__wrap a.three-column {
  width: calc((100% / 3) - (25px * 2 / 3));
  text-align: center;
  border: 2px solid #B6C0C7;
}

.main-category__wrap a.three-column:not(:last-child) {
  margin-right: 25px;
}

.main-category__wrap a.three-column .m-cat-icon {
  padding-top: 16px;
  font-size: 25px;
}

.main-category__wrap a.three-column.category-programming {
  color: #096fc8;
  background-color: #fff;
}

.main-category__wrap a.three-column.category-programming:hover {
  background: #096fc8;
  border: 2px solid #096fc8;
  color: #fff;
}

.main-category__wrap a.three-column.category-design {
  color: #db8c6c;
  background-color: #fff;
}

.main-category__wrap a.three-column.category-design:hover {
  background: #db8c6c;
  border: 2px solid #db8c6c;
  color: #fff;
}

.main-category__wrap a.three-column.category-direction {
  color: #0f8155;
  background-color: #fff;
}

.main-category__wrap a.three-column.category-direction:hover {
  background: #0f8155;
  border: 2px solid #0f8155;
  color: #fff;
}

.main-category__wrap a.three-column.category-programming .m-cat-icon:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.main-category__wrap a.three-column.category-design .m-cat-icon:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.main-category__wrap a.three-column.category-direction .m-cat-icon:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

@media (max-width: 599px) {
  .main-category__wrap a {
    margin-bottom: 25px;
  }
  .main-category__wrap a.two-column {
    width: 100%;
  }
  .main-category__wrap a.two-column:first-child {
    margin-right: 0;
  }
  .main-category__wrap a.three-column {
    width: 100%;
  }
  .main-category__wrap a.three-column:not(:last-child) {
    margin-right: 0;
  }
}

.primary {
  margin-left: 25px;
  margin-right: 25px;
  width: calc( 100% - 25px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inner {
  margin-top: 50px;
  width: calc(100% - (calc((100% / 3) - (25px * 2 / 3)) + 25px));
}

@media (max-width: 979px) {
  .inner {
    width: 100%;
  }
}

.topics {
  margin-bottom: 50px;
}

.topics__wrap {
  display: none;
  padding-left: 25px;
}

.topics-item {
  width: 50%;
}

.topics-item:hover {
  opacity: 0.7;
}

.topics-item__img {
  position: relative;
  width: calc(100% - 25px);
  height: 200px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.topics-item__img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 5px;
}

.topics-item__img .post-item-cat {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 20px 5px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.topics-item__img .post-item-cat span.cat-folder-icon {
  padding-right: 5px;
}

.topics-item__img.category-programming .post-item-cat {
  background-color: #096fc8;
}

.topics-item__img.category-design .post-item-cat {
  background-color: #db8c6c;
}

.topics-item__img.category-direction .post-item-cat {
  background-color: #0f8155;
}

.topics-item__img.category-programming .post-item-cat:before {
  position: absolute;
  top: 9px;
  left: 10px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 12px;
}

.topics-item__img.category-design .post-item-cat:before {
  position: absolute;
  top: 9px;
  left: 10px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 12px;
}

.topics-item__img.category-direction .post-item-cat:before {
  position: absolute;
  top: 9px;
  left: 10px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 12px;
}

.topics-item__title {
  width: calc(100% - 25px);
  margin-top: 12.5px;
  font-weight: 600;
  font-size: 17px;
}

.breadcrumb {
  font-size: 12px;
}

.breadcrumb a {
  color: #8c8c8c;
}

.breadcrumb a:hover {
  opacity: 0.7;
}

.post {
  margin-bottom: 25px;
}

.post__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 25px;
}

.post-item {
  position: relative;
  display: block;
  margin-bottom: 25px;
  width: calc(50% - 12.5px);
}

.post-item:nth-of-type(even) {
  margin-left: auto;
}

.post-item:hover {
  opacity: 0.7;
}

@media (max-width: 599px) {
  .post-item {
    width: 100%;
  }
}

.post-item__img {
  height: 200px;
  background-color: #e5e5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-item__img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-item__content {
  padding: 15px 20px;
  height: 250px;
  background-color: #f7f7f7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-item__content__meta .post-item-cat {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 20px 5px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-item__content__meta .post-item-cat span.cat-folder-icon {
  padding-right: 5px;
}

.post-item__content__meta.category-programming .post-item-cat {
  background-color: #096fc8;
}

.post-item__content__meta.category-design .post-item-cat {
  background-color: #db8c6c;
}

.post-item__content__meta.category-direction .post-item-cat {
  background-color: #0f8155;
}

.post-item__content__meta.category-programming .post-item-cat:before {
  position: absolute;
  top: 9px;
  left: 10px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 12px;
}

.post-item__content__meta.category-design .post-item-cat:before {
  position: absolute;
  top: 9px;
  left: 10px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 12px;
}

.post-item__content__meta.category-direction .post-item-cat:before {
  position: absolute;
  top: 9px;
  left: 10px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 12px;
}

.post-item__content__meta time.post-item-published {
  position: absolute;
  bottom: 10px;
  display: block;
  width: calc(100% - 40px);
  font-size: 11px;
  color: #8c8c8c;
  text-align: right;
}

.post-item__content .post-item-title {
  padding: 10px 0;
  font-weight: 600;
  font-size: 17px;
}

.post-item__content .post-item-excerpt p {
  color: #8c8c8c;
  font-size: 14px;
}

.sidebar {
  margin-top: 50px;
  margin-left: auto;
  width: calc((100% / 3) - (25px * 2 / 3));
}

@media (max-width: 979px) {
  .sidebar {
    width: 70%;
    margin-right: auto;
  }
}

@media (max-width: 599px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .widget {
  border-top: 1px solid #B6C0C7;
  padding: 25px 0 50px;
}

.sidebar .widget-title {
  margin-bottom: 25px;
  text-align: center;
  font-size: 15px;
}

.sidebar .widget_categories ul {
  margin: 0 auto;
  width: calc(100% - 50px);
}

.sidebar .widget_categories ul li {
  position: relative;
  margin-bottom: 12.5px;
  padding-left: 30px;
}

.sidebar .widget_categories ul li:hover {
  opacity: 0.6;
}

.sidebar .widget_categories ul li:before {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.sidebar .widget_categories ul li.cat-item-1:before {
  content: "\f121";
  color: #096fc8;
}

.sidebar .widget_categories ul li.cat-item-3:before {
  content: "\f1fc";
  color: #db8c6c;
}

.sidebar .widget_categories ul li.cat-item-4:before {
  content: "\f5eb";
  color: #0f8155;
}

.sidebar .widget_categories ul li a span {
  padding-right: 25px;
}

.sidebar .widget_categories ul li a span img {
  height: auto;
}

.sidebar .widget .tagcloud {
  margin: 0 auto;
  width: calc(100% - 50px);
}

.sidebar .widget .tagcloud a {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #B6C0C7;
  color: #fff;
  padding: 2px 12.5px;
  background-color: #B6C0C7;
  border-radius: 13px;
  font-size: 13px !important;
}

.sidebar .widget .tagcloud a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f02b";
  font-weight: bold;
  padding-right: 5px;
  font-size: 10px;
}

.sidebar .widget .tagcloud a:hover {
  background-color: #fff;
  color: #B6C0C7;
}

.sidebar-item__content {
  margin: 0 auto;
  width: calc(100% - 50px);
}

.sidebar-item__content p.item-img {
  text-align: center;
  margin-bottom: 12.5px;
}

.sidebar-item__content p.item-img img.about {
  width: 75px;
  height: auto;
}

.sidebar-item__content p.item-img img.feedly {
  width: 100px;
  height: auto;
}

.sidebar-item__content p.item-txt {
  font-size: 13px;
}

.sidebar-item__content p.category {
  margin-bottom: 12.5px;
}

.sidebar-item__content p.category a span {
  padding-right: 25px;
}

.sidebar-item__content p.category a span img {
  height: auto;
}

.sidebar-item__content form.searchform {
  position: relative;
}

.sidebar-item__content form.searchform input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1;
  vertical-align: middle;
  border: 1px solid #dde2e8;
  border-radius: 3px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.sidebar-item__content form.searchform button {
  cursor: pointer;
  position: absolute;
  top: 27%;
  right: 10px;
  border: none;
  background: #fff;
}

.sidebar-item__content form.searchform button .fa-search {
  color: #d0d0d0;
  font-size: 20px;
}

.footer {
  width: 100%;
  background-color: #F2F3F4;
}

.footer__wrap {
  margin: 0 auto;
  padding-bottom: 25px;
  max-width: 1024px;
}

.footer__logo {
  padding: 25px 0 0 25px;
}

.footer__logo img {
  width: 100px;
  height: auto;
}

.footer__social {
  padding: 25px 0 0 25px;
  margin-bottom: 50px;
}

.footer__social a {
  display: inline-block;
  padding-right: 12.5px;
  font-size: 20px;
}

.footer__social a:hover {
  opacity: 0.6;
}

.footer__copy {
  padding-left: 25px;
}

.footer__copy address {
  font-size: 10px;
}

.slick-next:before, .slick-prev:before {
  color: #B6C0C7;
}

.slick-next, .slick-prev {
  top: 38%;
}

.slick-prev {
  left: -4px;
}

.slick-next {
  right: -4px;
}

.post__header {
  margin-bottom: 30px;
}

.post__header__title {
  padding: 20px 0;
  font-size: 1.7em;
  line-height: 1.4;
}

.post__header__meta time {
  color: #8c8c8c;
  font-size: 14px;
}

.post__header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.post__header__label a {
  padding: .6em 1em;
  border-radius: 2px;
  font-size: 12px;
}

.post__header__label a.category-programming {
  border: 1px solid #096fc8;
  color: #096fc8;
}

.post__header__label a.category-programming:hover {
  color: #fff;
  background: #096fc8;
}

.post__header__label a.category-design {
  border: 1px solid #db8c6c;
  color: #db8c6c;
}

.post__header__label a.category-design:hover {
  color: #fff;
  background: #db8c6c;
}

.post__header__label a.category-direction {
  border: 1px solid #0f8155;
  color: #0f8155;
}

.post__header__label a.category-direction:hover {
  color: #fff;
  background: #0f8155;
}

.archive-header {
  padding: 15px 0 20px;
}

.archive-header__lead {
  padding-bottom: 0;
  font-size: 12px;
}

.archive-header__title {
  font-size: 32px;
}

.error-404 {
  text-align: center;
}

.error-404 .page-header .page-title {
  font-size: 50px;
  color: #B6C0C7;
}

.error-404 p.not-found-txt {
  font-size: 15px;
  color: #B6C0C7;
}

.error-404 .return-top {
  margin: 75px 0;
}

.error-404 .return-top a {
  border-radius: 25px;
  border: 2px solid #B6C0C7;
  padding: 10px 30px;
  background: #B6C0C7;
  text-align: center;
  color: #fff;
}

.error-404 .return-top a:hover {
  background: #fff;
  color: #B6C0C7;
}
/*# sourceMappingURL=tp.css.map */