// 変数
$max_w: 1024px;
$space: 25px;
$content_w: calc(100% - #{$space});
$double_s: $space * 2;
$half_s: $space / 2;
$two_column: calc(50% - #{$space} / 2);
$three_column: calc((100% / 3) - (#{$space} * 2 / 3));
 
// 共通処理
@mixin main_w {
    margin-left: $space;
    margin-right: $space;
    width: calc( 100% - #{$space} * 2);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    margin-bottom: $double_s;
    background-image: url(../img/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;

    &__wrap {
        display: flex;
        margin: 0 auto;
        max-width: $max_w;
    }

    &__logo {
        padding: $space 0 0 $space;
        img {
            width: 100px;
            height: auto;
        }
    }

    &__nav {
        margin-left: auto;
        padding: $space $space 0 0;
        
        ul {
            li {
                display: inline-block;
                padding: 17px 0 0 $space;
                a {
                    position: relative;
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;

                    &::after {
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        transform: scale(0, 1);
                        transform-origin: center top;
                        transition: transform .3s;
                    } 

                    &:hover::after {
                        transform: scale(1, 1);
                    }
                }
            }
        }
    }
}

.main {
    margin: 0 auto;
    max-width: $max_w;
}

.tp-title {
    margin-bottom: $half_s;
    font-size: 25px;
    color: #555;
}

.main-category {
    @include main_w;

    &__wrap {
        display: flex;
        flex-wrap: wrap;

        a {
            display: block;
            height: 100px;
            background-color: #e5e5e5;

            &.two-column {
                width: $two_column;

                &:first-child {
                    margin-right: $space;
                }
            }
        }
    }
}

.primary {
    @include main_w;
    display: flex;
}

.inner {
    margin-top: $double_s;
    width: calc(100% - (#{$three_column} + #{$space}));
}

.topics {
    margin-bottom: $double_s;

    &__wrap {
        display: none;
        padding-left: $space;
    }
}

.topics-item {
    width: 50%;
    &__img {
        width: $content_w;
        height: 100px;
        background-color: #e5e5e5;
    }

    &__title {
        width: $content_w;
        margin-top: $half_s;
    }
}

.post {
    margin-bottom: $space;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        padding-left: $space;
    }
}

.post-item {
    position: relative;
    display: block;
    margin-bottom: $space;
    width: 50%;
    &__img {
        width: $content_w;
        height: 200px;
        background-color: #e5e5e5;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__content {
        width: $content_w;
        padding: 15px 20px;
        height: 250px;
        background-color: #f7f7f7;

        &__meta {
            .post-item-cat {
                position: absolute;
                top: 0;
                left: 0;
                padding: 3px 10px;
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                color: #fff;
            }

            time.post-item-published {
                position: absolute;
                bottom: 10px;
                display: block;
                width: calc(100% - 65px);
                font-size: 11px;
                color: #8c8c8c;
                text-align: center;
            }
        }

        .post-item-title {
            padding: 10px 5px;
            text-align: center;
            font-weight: 600;
            font-size: 17px;
        }

        .post-item-excerpt {
            p {
                color: #8c8c8c;
                font-size: 14px;
            }
        }
    }
}


.sidebar {
    margin-top: $double_s;
    margin-left: auto;
    width: $three_column;

    .widget {
        border-top: 1px solid #a9a9a9;
        padding: $space 0 $double_s;

        &-title {
            margin-bottom: $space;
            text-align: center;
            font-size: 15px;
        }
        
        &_categories {
            ul {
                margin: 0 auto;
                width: calc(100% - #{$double_s});

                li {
                    margin-bottom: $half_s;
                    a {
                        span {
                            padding-right: $space;
                            img {
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        .tagcloud {
                margin: 0 auto;
                width: calc(100% - #{$double_s});
            a {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
                border: 1px solid #B6C0C7;
                color: #fff;
                padding: 2px $half_s;
                background-color: #B6C0C7;
                border-radius: 13px;
                font-size: 13px !important;

                &:hover {
                    background-color: #fff;
                    color: #B6C0C7
                }
            }
        }
    }
}

.sidebar-item {
    &__content {
        margin: 0 auto;
        width: calc(100% - #{$double_s});

        p.item-img {
            text-align: center;
            margin-bottom: $half_s;

            img.about {
                width: 75px;
                height: auto;
            }

            img.feedly {
                width: 100px;
                height: auto;
            }
        }

        p.item-txt {
            font-size: 13px;
        }

        p.category {
            margin-bottom: $half_s;
            a {
                span {
                    padding-right: $space;
                    img {
                        height: auto;
                    }
                }
            }
        }

        form.searchform {
            position: relative;

            input[type="text"] {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                line-height: 1;
                border: 1px solid #dde2e8;
                border-radius: 3px;
                transition: .4s ease-in-out;
            }

            button {
                cursor: pointer;
                position: absolute;
                top: 27%;
                right: 10px;
                border: none;
                background: none;

                .fa-search {
                    color: #d0d0d0;
                    font-size: 20px;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: #F2F3F4;

    &__wrap {
        margin: 0 auto;
        padding-bottom: 25px;
        max-width: $max_w;
    }

    &__logo {
        padding: $space 0 0 $space;
        img {
            width: 100px;
            height: auto;
        }
    }

    &__social {
        padding: $space 0 0 $space;
        margin-bottom: $double_s;
        a {
            display: inline-block;
            padding-right: $half_s;
        }
    }

    &__copy {
        padding-left: $space;

        address {
            font-size: 10px;
        }
    }
}

// slick
.slick-next:before, .slick-prev:before {
    color: #B6C0C7;
}

.slick-next, .slick-prev {
    top: 38%;
}

.slick-prev {
    left: -4px;
}

.slick-next {
    right: -4px
}




