// 変数
$max_w: 1024px;
$space: 25px;
$content_w: calc(100% - #{$space});
$double_s: $space * 2;
$half_s: $space / 2;
$two_column: calc(50% - #{$space} / 2);
$three_column: calc((100% / 3) - (#{$space} * 2 / 3));
$category-colors:(
    'category-programming':#096fc8, 
    'category-design':#db8c6c,
    'category-direction':#0f8155,
);

// レスポンシブ 
$tb: 979px;
@mixin tb{
    @media (max-width: ($tb)) {
        @content;
    }
}

$sp: 599px;
@mixin sp{
    @media (max-width: ($sp)) {
        @content;
    }
}
 
// 共通処理
@mixin main_w {
    margin-left: $space;
    margin-right: $space;
    width: calc( 100% - #{$space} * 2);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

    @include sp {
        &.nav-open {
            .header {
                &__nav {
                    right: 0;

                    ul {
                        li {
                            display: block;
                            a {
                                color: #333;
                            }
                        }
                    }
                }
    
                .black-bg {
                    opacity: .8;
                    visibility: visible;
                }
            
                .hamburger {
                    position: fixed;
                    top: 40px;
                    height: 25px;

                    &__line {
                        background-color: #333;

                        &--top {
                            transform: rotate(45deg);
                            top: 11px;
                        }
                    
                        &--bottom {
                            transform: rotate(-45deg);
                            top: 11px;
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

.header {
    margin-bottom: $double_s;
    background-image: url(../img/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;

    &__wrap {
        display: flex;
        margin: 0 auto;
        max-width: $max_w;
    }

    &__logo {
        padding: $space 0 0 $space;
        img {
            width: 100px;
            height: auto;
        }
    }

    &__nav {
        margin-left: auto;
        padding: $space $space 0 0;
        
        ul {
            li {
                display: inline-block;
                padding: 17px 0 0 $space;
                a {
                    position: relative;
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;

                    &::after {
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        transform: scale(0, 1);
                        transform-origin: center top;
                        transition: transform .3s;
                    } 

                    &:hover::after {
                        transform: scale(1, 1);
                    }
                }
            }
        }

        @include sp {
            position: fixed;
            right: -320px;
            top: 0;
            width: 260px;
            height: 100%;
            padding-top: 60px;
            background-color: #fff;
            transition: all .8s;
            z-index: 200;
            overflow-y: auto;
        }
    }

    @include sp {
        .hamburger {
            position: absolute;
            right: $space;
            top: 40px;
            width: 25px;
            height: 11px;
            cursor: pointer; 
            z-index: 300;

            &__line {
                position: absolute;
                right: 0;
                width: 25px;
                height: 3px;
                border-radius: 2px;
                background-color: #fff;
                transition: all .6s;

                &--top {
                    top: 0;
                }
              
                &--bottom {
                    width: 17px;
                    top: 11px;
                }
            }
        }

        .black-bg {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 100;
            background-color: #000;
            opacity: 0;
            visibility: hidden;
            transition: all .6s;
            cursor: pointer;
        }
    }
}

.main {
    margin: 0 auto;
    max-width: $max_w;
}

.tp-title {
    margin-bottom: $half_s;
    font-size: 25px;
    color: #555;
}

.main-category {
    @include main_w;

    &__wrap {
        display: flex;
        flex-wrap: wrap;

        a {
            display: block;
            height: 100px;
            background-color: #e5e5e5;

            &.two-column {
                width: $two_column;

                &:first-child {
                    margin-right: $space;
                }
            }

            &.three-column {
                width: $three_column;
                &:not(:last-child) {
                    margin-right: $space;
                }
            }

            @include sp {
                margin-bottom: $space;

                &.two-column {
                    width: 100%;
    
                    &:first-child {
                        margin-right: 0;
                    }
                }

                &.three-column {
                    width: 100%;

                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.primary {
    @include main_w;
    display: flex;
    flex-wrap: wrap;
}

.inner {
    margin-top: $double_s;
    width: calc(100% - (#{$three_column} + #{$space}));

    @include tb {
        width: 100%;
    }
}

.topics {
    margin-bottom: $double_s;

    &__wrap {
        display: none;
        padding-left: $space;
    }
}

.topics-item {
    width: 50%;

    &:hover {
        opacity: 0.7;
    }
    
    &__img {
        position: relative;
        width: $content_w;
        height: 200px;
        background-color: #e5e5e5;
        border-radius: 5px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 5px;
        }

        .post-item-cat {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 20px;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;

            span.cat-folder-icon {
                padding-right: 5px;
            }
        }

        @each $category , $color in $category-colors {
            &.#{$category} {
                .post-item-cat {
                    background-color: $color;
                }
            }
        }
    }

    &__title {
        width: $content_w;
        margin-top: $half_s;
        font-weight: 600;
        font-size: 17px;
    }
}

.breadcrumb {
    font-size: 12px;

    a {
        color: #8c8c8c;

         &:hover {
             opacity: 0.7;
         }
    }
}

.post {
    margin-bottom: $space;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 0 $space;
    }
}

.post-item {
    position: relative;
    display: block;
    margin-bottom: $space;
    width: calc(50% - #{$half_s});

    &:nth-of-type(even) {
        margin-left: auto;
    }

    &:hover {
        opacity: 0.7;
    }

    @include sp {
        width: 100%;
    }
    
    &__img {
        height: 200px;
        background-color: #e5e5e5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: 50% 50%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    &__content {
        padding: 15px 20px;
        height: 250px;
        background-color: #f7f7f7;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &__meta {
            .post-item-cat {
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px 20px;
                text-align: center;
                font-weight: 600;
                font-size: 14px;
                color: #fff;
                border-top-left-radius: 5px;
                border-bottom-right-radius: 5px;

                span.cat-folder-icon {
                    padding-right: 5px;
                }
            }

            @each $category , $color in $category-colors {
                &.#{$category} {
                    .post-item-cat {
                        background-color: $color;
                    }
                }
            }

            time.post-item-published {
                position: absolute;
                bottom: 10px;
                display: block;
                width: calc(100% - 40px);
                font-size: 11px;
                color: #8c8c8c;
                text-align: right;
            }
        }

        .post-item-title {
            padding: 10px 0;
            font-weight: 600;
            font-size: 17px;
        }

        .post-item-excerpt {
            p {
                color: #8c8c8c;
                font-size: 14px;
            }
        }
    }
}


.sidebar {
    margin-top: $double_s;
    margin-left: auto;
    width: $three_column;

    @include tb {
        width: 70%;
        margin-right: auto;
    }

    @include sp {
        width: 100%;
    }

    .widget {
        border-top: 1px solid #a9a9a9;
        padding: $space 0 $double_s;

        &-title {
            margin-bottom: $space;
            text-align: center;
            font-size: 15px;
        }
        
        &_categories {
            ul {
                margin: 0 auto;
                width: calc(100% - #{$double_s});

                li {
                    position: relative;
                    margin-bottom: $half_s;
                    padding-left: 30px;

                    &:hover {
                        opacity: 0.6;
                    }

                    &:before {
                        position: absolute;
                        top: 7px;
                        left: 0;
                        // color: #B6C0C7;
                        font-size: 15px;
                        font-family: "Font Awesome 5 Free";
                        font-weight: bold;
                    }

                    &.cat-item-1:before {
                        content: "\f121";
                        color: #096fc8;
                    }

                    &.cat-item-3:before {
                        content: "\f1fc";
                        color: #db8c6c;
                    }

                    // &.cat-item-3:before {
                    //     content: "\f5eb";
                    //     color: #0f8155;
                    // }

                    &.cat-item-4:before {
                        content: "\f5eb";
                        color: #0f8155;
                    }

                    a { 
                        span {
                            padding-right: $space;
                            img {
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        .tagcloud {
                margin: 0 auto;
                width: calc(100% - #{$double_s});
            a {
                display: inline-block;
                margin-right: 5px;
                margin-bottom: 10px;
                border: 1px solid #B6C0C7;
                color: #fff;
                padding: 2px $half_s;
                background-color: #B6C0C7;
                border-radius: 13px;
                font-size: 13px !important;

                &::before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f02b";
                    font-weight: bold;
                    padding-right: 5px;
                    font-size: 10px;
                }

                &:hover {
                    background-color: #fff;
                    color: #B6C0C7
                }
            }
        }
    }
}

.sidebar-item {
    &__content {
        margin: 0 auto;
        width: calc(100% - #{$double_s});

        p.item-img {
            text-align: center;
            margin-bottom: $half_s;

            img.about {
                width: 75px;
                height: auto;
            }

            img.feedly {
                width: 100px;
                height: auto;
            }
        }

        p.item-txt {
            font-size: 13px;
        }

        p.category {
            margin-bottom: $half_s;
            a {
                span {
                    padding-right: $space;
                    img {
                        height: auto;
                    }
                }
            }
        }

        form.searchform {
            position: relative;

            input[type="text"] {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                line-height: 1;
                vertical-align: middle;
                border: 1px solid #dde2e8;
                border-radius: 3px;
                transition: .4s ease-in-out;
            }

            button {
                cursor: pointer;
                position: absolute;
                top: 27%;
                right: 10px;
                border: none;
                background: #fff;

                .fa-search {
                    color: #d0d0d0;
                    font-size: 20px;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: #F2F3F4;

    &__wrap {
        margin: 0 auto;
        padding-bottom: 25px;
        max-width: $max_w;
    }

    &__logo {
        padding: $space 0 0 $space;
        img {
            width: 100px;
            height: auto;
        }
    }

    &__social {
        padding: $space 0 0 $space;
        margin-bottom: $double_s;
        a {
            display: inline-block;
            padding-right: $half_s;
            font-size: 20px;
        }
    }

    &__copy {
        padding-left: $space;

        address {
            font-size: 10px;
        }
    }
}

// slick
.slick-next:before, .slick-prev:before {
    color: #B6C0C7;
}

.slick-next, .slick-prev {
    top: 38%;
}

.slick-prev {
    left: -4px;
}

.slick-next {
    right: -4px
}

// single.php

.post {
    &__header {
        margin-bottom: 30px;

        &__title {
            padding: 20px 0;
            font-size: 1.7em;
            line-height: 1.4;
        }

        &__meta {
            time {
                color: #8c8c8c;
                font-size: 14px;
            }
        }

        &__label {
            display: flex;
            align-items: center;
            padding: 10px 0;

            a {
                padding: .6em 1em;
                border-radius: 2px;
                font-size: 12px;

                &.category-programming {
                    border: 1px solid #096fc8;
                    color: #096fc8;

                    &:hover {
                        color: #fff;
                        background: #096fc8;
                    }
                }

                &.category-design {
                    border: 1px solid #db8c6c;
                    color: #db8c6c;

                    &:hover {
                        color: #fff;
                        background: #db8c6c;
                    }
                }

                &.category-direction {
                    border: 1px solid #0f8155;
                    color: #0f8155;

                    &:hover {
                        color: #fff;
                        background: #0f8155;
                    }
                }
            }
        }
    }
    
}

// single.php end

// archive.php

.archive-header {
    padding: 15px 0 20px;

    &__lead {
        padding-bottom: 0;
        font-size: 12px;
    }

    &__title {
        font-size: 32px;
    }
}

// archive.php end




